In [1]:
import pandas as pd
import matplotlib.pyplot 
%matplotlib inline
import numpy as np
import seaborn as sns
import spacy
from collections import Counter

from datetime import datetime

### Loading the dataset

Step1 : find the number of gramatical mistakes and count the number of sentences

In [2]:
df=pd.read_pickle('final.pickle')
df.head()

,index,essay_id,essay_set,essay,domain1_score,mistake_count,sentence_count,noun,verb,adj,punct,adv,pron,ner_count,stop_words_count
0,0,1,1,"Dear local newspaper, I think effects computer...",8.0,15,11,82,50,19,38,16,47,3,189
1,1,2,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",9.0,23,19,98,71,24,32,16,49,11,218
2,2,3,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",7.0,17,15,72,38,19,23,13,25,4,151
3,3,4,1,"Dear Local Newspaper, @CAPS1 I have found that...",10.0,27,25,136,72,39,43,23,31,15,246
4,4,5,1,"Dear @LOCATION1, I know having computers has a...",8.0,17,31,107,61,28,43,35,41,6,266

In [9]:
df['essay'][1]

"Dear @CAPS1 @CAPS2, I believe that using computers will benefit us in many ways like talking and becoming friends will others through websites like facebook and mysace. Using computers can help us find coordibates, locations, and able ourselfs to millions of information. Also computers will benefit us by helping with jobs as in planning a house plan and typing a @NUM1 page report for one of our jobs in less than writing it. Now lets go into the wonder world of technology. Using a computer will help us in life by talking or making friends on line. Many people have myspace, facebooks, aim, these all benefit us by having conversations with one another. Many people believe computers are bad but how can you make friends if you can never talk to them? I am very fortunate for having a computer that can help with not only school work but my social life and how I make friends. Computers help us with finding our locations, coordibates and millions of information online. If we didn't go on the internet a lot we wouldn't know how to go onto websites that @MONTH1 help us with locations and coordinates like @LOCATION1. Would you rather use a computer or be in @LOCATION3. When your supposed to be vacationing in @LOCATION2. Million of information is found on the internet. You can as almost every question and a computer will have it. Would you rather easily draw up a house plan on the computers or take @NUM1 hours doing one by hand with ugly erazer marks all over it, you are garrenteed that to find a job with a drawing like that. Also when appling for a job many workers must write very long papers like a @NUM3 word essay on why this job fits you the most, and many people I know don't like writing @NUM3 words non-stopp for hours when it could take them I hav an a computer. That is why computers we needed a lot now adays. I hope this essay has impacted your descion on computers because they are great machines to work with. The other day I showed my mom how to use a computer and she said it was the greatest invention sense sliced bread! Now go out and buy a computer to help you chat online with friends, find locations and millions of information on one click of the button and help your self with getting a job with neat, prepared, printed work that your boss will love."

In [10]:
df['domain1_score'][1]

9.0

In [8]:
df=pd.read_pickle('final.pickle')
df.drop(['stop_words_count','essay','essay_set','essay_id','index'],axis='columns',inplace=True)
df.head()

,domain1_score,mistake_count,sentence_count,noun,verb,adj,punct,adv,pron,ner_count
0,8.0,15,11,82,50,19,38,16,47,3
1,9.0,23,19,98,71,24,32,16,49,11
2,7.0,17,15,72,38,19,23,13,25,4
3,10.0,27,25,136,72,39,43,23,31,15
4,8.0,17,31,107,61,28,43,35,41,6

Step 2: Do pos tagging and count POS

In [9]:
feature=df.drop(['domain1_score'],axis='columns')

In [10]:
feature.head()

   mistake_count  sentence_count  noun  verb  adj  punct  adv  pron  ner_count
0             15              11    82    50   19     38   16    47          3
1             23              19    98    71   24     32   16    49         11
2             17              15    72    38   19     23   13    25          4
3             27              25   136    72   39     43   23    31         15
4             17              31   107    61   28     43   35    41          6

In [32]:
feature.columns

Index(['mistake_count', 'sentence_count', 'noun', 'verb', 'adj', 'punct',
       'adv', 'pron', 'ner_count'],
      dtype='object')

In [11]:
target=pd.read_pickle('target.pickle')
target.head()

0    6
1    7
2    5
3    8
4    6
Name: final_score, dtype: int64

In [13]:
target.unique()

array([ 6,  7,  5,  8,  4, 10,  2,  1,  9,  0,  3], dtype=int64)

In [14]:
from sklearn import preprocessing

In [17]:
feature.describe()

,mistake_count,sentence_count,noun,verb,adj,punct,adv,pron,ner_count
count,12977.000000,12977.000000,12977.000000,12977.000000,12977.000000,12977.000000,12977.000000,12977.000000,12977.000000
mean,9.710950,13.517223,43.780920,33.127302,14.201819,23.901133,12.530400,29.227171,5.220313
std,10.209801,11.810765,34.061827,27.968316,12.428800,21.286509,12.179454,28.774550,5.614951
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,6.000000,19.000000,14.000000,5.000000,9.000000,4.000000,9.000000,1.000000
50%,6.000000,10.000000,33.000000,23.000000,11.000000,18.000000,9.000000,19.000000,4.000000
75%,13.000000,18.000000,60.000000,47.000000,19.000000,32.000000,17.000000,41.000000,7.000000
max,120.000000,643.000000,264.000000,184.000000,86.000000,213.000000,89.000000,223.000000,67.000000

In [18]:
minmax=preprocessing.MinMaxScaler()
feat_minmax=pd.DataFrame(minmax.fit_transform(feature),columns=[feature.columns])

In [19]:
feat_minmax.describe()

,mistake_count,sentence_count,noun,verb,adj,punct,adv,pron,ner_count
count,12977.000000,12977.000000,12977.000000,12977.000000,12977.000000,12977.000000,12977.000000,12977.000000,12977.000000
mean,0.080925,0.019497,0.165837,0.180040,0.165137,0.112212,0.140791,0.131064,0.077915
std,0.085082,0.018397,0.129022,0.152002,0.144521,0.099937,0.136848,0.129034,0.083805
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.025000,0.007788,0.071970,0.076087,0.058140,0.042254,0.044944,0.040359,0.014925
50%,0.050000,0.014019,0.125000,0.125000,0.127907,0.084507,0.101124,0.085202,0.059701
75%,0.108333,0.026480,0.227273,0.255435,0.220930,0.150235,0.191011,0.183857,0.104478
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [20]:
import pickle
pickle.dump(minmax, open('minmax_scalar.pickle','wb'))

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train,x_test,y_train,y_test=train_test_split(feat_minmax,target,test_size=0.3)

In [24]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier


# Instantiate model with 1000 decision trees
model = RandomForestClassifier(n_estimators = 1000, random_state = 42)

In [25]:
t0 = datetime.now()
model.fit(x_train,y_train)

t1 = datetime.now()
print('Processing time: {}'.format(t1 - t0))

C:\Users\sakin\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

Processing time: 0:00:14.306798

In [26]:
model.score(x_test,y_test)

C:\Users\sakin\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

0.46147919876733434

In [31]:
with open('RF_scaled_model.pickle','wb') as f:
    pickle.dump(model,f)

In [29]:
model2 = RandomForestClassifier(n_estimators = 1000)
t0 = datetime.now()
model2.fit(x_train,y_train)

t1 = datetime.now()
print('Processing time: {}'.format(t1 - t0))

C:\Users\sakin\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

Processing time: 0:00:14.089886

In [30]:
model.score(x_test,y_test)

C:\Users\sakin\AppData\Roaming\Python\Python39\site-packages\sklearn\utils\validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

0.46147919876733434